{% extends "aplicatie_masini/baza.html" %}

{% block title %}
    {% if categorie_curenta %}
        {{ categorie_curenta.nume_categorie }}
    {% else %}
        Produse
    {% endif %}
{% endblock %}

{% block main %}
    {% if categorie_curenta %}
        <h1 class="produse-heading"> {% if categorie_curenta.icon_categorie %}
                <i class="{{categorie_curenta.icon_categorie}}"></i>
            {% endif %}
            {{categorie_curenta.nume_categorie}}
        </h1>
        <p class="categ-descriere">{{categorie_curenta.descriere}}</p>
    {% else %}
        <h1 class="produse-heading"> Produse </h1>
    {% endif %}

    <div class="container-filtre"> 
        <form method="GET" action="" class="filter-form">
            {% if categorie_curenta and form.categorie.errors %}
                <div class="form-error-general">
                    {{ form.categorie.errors }}
                </div>
            {% endif %}
            {% if form.non_field_errors %}
                <div class="form-error-general">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <div class="filter-fields-wrapper">
                <div class="form-field">
                    {{ form.model.label_tag }}
                    {{ form.model }}
                </div>
                <div class="form-field">
                    {{ form.marca.label_tag }}
                    {{ form.marca }}
                </div>
                {% if not categorie_curenta %}
                    <div class="form-field">
                        {{ form.categorie.label_tag }}
                        {{ form.categorie }}
                        {% if form.categorie.errors %}
                            <div class="form-error-field">{{ form.categorie.errors }}</div>
                        {% endif %}
                    </div>
                {% else %}
                    <input type="hidden" name="categorie" value="{{ categorie_curenta.id }}">
                {% endif %}
                <div class="form-field">
                    {{ form.tip_combustibil.label_tag }}
                    {{ form.tip_combustibil }}
                </div>
                <div class="form-field">
                    {{ form.an_fabricatie.label_tag }}
                    {{ form.an_fabricatie }}
                    {% if form.an_fabricatie.errors %}
                        <div class="form-error-field">{{ form.an_fabricatie.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-field">
                    {{ form.kilometraj_max.label_tag }}
                    {{ form.kilometraj_max }}
                </div>
                <div class="form-field price-field">
                    {{ form.pret_min.label_tag }}
                    {{ form.pret_min }}
                    {% if form.pret_min.errors %}
                        <div class="form-error-field">{{ form.pret_min.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-field price-field">
                    {{ form.pret_max.label_tag }}
                    {{ form.pret_max }}
                </div>
                <div class="form-field">
                    {{ form.elemente_afisate.label_tag }}
                    {{ form.elemente_afisate }}
                    {% if form.elemente_afisate.errors %}
                        <div class="form-error-field">{{ form.elemente_afisate.errors }}</div>
                    {% endif %}
                </div>
            </div>
            <div class="form-buttons">
                <button type="submit" class="btn btn-primary">Filtrează</button>
                <a href="{% url 'produse' %}{{ string_reset }}" class="btn btn-secondary" onclick="return confirm('Ești sigur că vrei să resetezi filtrele? Toate câmpurile completate vor fi golite.');">Resetează filtrele</a>
            </div>
        </form>
    </div>
    {% if mesaj_paginare %}
        <p class="mesaj-repaginare">{{ mesaj_paginare }}</p>
    {% endif %}
    <div class="sortare">
        <span>Sorteaza dupa pret: </span>
        <a href="?sort=a{{ params_fara_sort }}" {% if param_sortare == 'a' %}class="activ"{% endif %}>Crescator</a>
        <a href="?sort=d{{ params_fara_sort }}" {% if param_sortare == 'd' %}class="activ"{% endif %}>Descrescator</a>
    </div>
    {% if eroare %}
        <p class="div-eroare">{{eroare}}</p>
    {% endif %}
    <div class="lista-produse">
        {% for masina in pagina.object_list %}
            <div class="masina-card">
                <div class="card-content">
                    <h3> <a href = "{% url 'detalii_masina' masina.id %}"> {{ masina.marca.nume_marca }} {{ masina.model }} {{masina.an_fabricatie}} </a></h3>
                    <p>
                        <strong>Categorie:</strong>
                        <a href="{% url 'produse_pe_categorie' masina.categorie.nume_categorie %}" class="link-categorie">
                        {% if masina.categorie.icon_categorie %}
                            <i class="{{masina.categorie.icon_categorie}}"></i>
                        {% endif %}
                        {{ masina.categorie.nume_categorie }}
                        </a>
                    </p>
                    <p><strong>Preț:</strong> {{ masina.pret_masina }} EUR</p>
                    <p><strong>Kilometraj:</strong> {{ masina.kilometraj }} km</p>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if eroare %}
        <span></span>
    {% else %}
        <div class="paginare">
            <span class="current-page">
                    <p>Pagina {{ pagina.number }} din {{ pagina.paginator.num_pages }}.</p>
            </span>
            <span class="page-links">   
                {% if pagina.has_previous %}
                    <a href="?{{ request_get_string }}&pagina={{ pagina.previous_page_number }}{% if param_sortare %}&sort={{ param_sortare }}{% endif %}"> « Anterior </a>
                {% endif %}
        
                {% if pagina.has_next %}
                    <a href="?{{ request_get_string }}&pagina={{ pagina.next_page_number }}{% if param_sortare %}&sort={{ param_sortare }}{% endif %}"> Urmator » </a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}